
  h1{ 
 color: darkgreen;
  }

  p {
    color: crimson;font-size: 20px;font-weight: bold;
 }


 .destaque {    

  color: darkmagenta;
 }
 #titulo {
 font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: darkorange;
}


        
